* {
   margin: 0;
}

.App {
  background-color: #383838;
  color: white;
  width: 100vw;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

header {
   margin: 10px 0;
   font-weight: 800;
}

#editor {
   width: 100%;
   min-height: 30vh;
   border-radius: 10px;
   padding: 10px;
   box-sizing: border-box;
}

#preview {
   border: 1px solid white;
   border-radius: 10px;
   padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
   margin: 10px 0;
}

a {
   color: white;
}

blockquote {
   border-left: 3px solid white;
   padding-left: 5px;
   margin: 10px 0;
}

p {
   margin: 10px 0;
}

table {
   border: 1px solid white;
   border-collapse: collapse;
   margin: 10px 0;
}

thead {
   background-color: white;
   color: #383838;
}
tr,td {
   border: 1px solid white;
   padding: 5px;
}

pre {
   background-color: #545454;
   padding: 5px;
   border-radius: 5px;
   margin: 10px 0;
}

code {
   background-color: #545454;
   padding: 2px 5px;
   border-radius: 5px;
   font-size: 12px;
}
pre > code {
   font-size: 9px;
}

ul {
   padding-inline-start: 20px;
}

ol {
   padding: 10px 20px;
}

@media (min-width: 1023px) {
   .App {
      padding: 30px 20%;
   }
}